@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #121212;
  background-color: #FAFAFA;
  /* Whitish background */

  --color-accent: oklch(51.4% 0.222 16.935);
  /* Rose from user */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}